/* Floating Button Styles */

.floatbtn {
  position: fixed;
  margin: 0 2rem 2rem 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: 999;
  cursor: pointer;
  opacity: 0.8;
}

.iconcontainer {
  border-radius: 100%;
  padding: 1rem;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.iconcontainer:hover {
  opacity: 0.6;
}

/* Mobile Menu Styles */

.carbonmobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  padding: 3rem 2rem;
}

.mobilemenuheader {
  color: inherit;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.mobilemenubtn {
  margin: 0.3rem 0.3rem 0.5rem 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.mobilemenuheader:hover,
.mobilemenubtn:hover {
  opacity: 0.8;
}

@media (min-width: 980px) {
  /* Floating Button Styles */

  .floatbtn,
  .iconcontainer,
  .carbonmobilemenu,
  .mobilemenubtn {
    display: none;
  }
}
