.lightactivebtn {
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  margin: 1px;
  background: rgba(255, 255, 255, 1);
  border-left: 12px solid rgba(0, 255, 0, 1);
  color: rgba(0, 184, 230, 1);
}
.lightpassivebtn {
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  margin: 1px;
  background: rgba(255, 255, 255, 1);
}
.lightpassivebtn:hover {
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  margin: 1px;
  background: rgba(235, 235, 235, 1);
  cursor: pointer;
}
.darkactivebtn {
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  margin: 1px;
  background: rgba(0, 0, 0, 1);
  border-left: 12px solid rgba(153, 0, 51, 1);
  color: rgba(255, 64, 0, 1);
}
.darkpassivebtn {
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  margin: 1px;
  background: rgba(0, 0, 0, 1);
}
.darkpassivebtn:hover {
  font-size: 1.1rem;
  padding: 0.7rem 3rem;
  margin: 1px;
  background: rgba(10, 10, 20, 1);
  cursor: pointer;
}
