/* Showcase Styles */

.showcase {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.showcasecontainer {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  /* border: 1px solid black; */
}

.showcaseinfo {
  padding: 1rem 4rem 1rem 1.5rem;
  color: rgba(255, 255, 255, 1);
  font-family: Spartan, sans-serif;
}

.showcaseinfo h2 {
  margin-bottom: 0.7rem;
  letter-spacing: 0.2rem;
}

.showcaseinfo p {
  font-size: 1.2rem;
}

@media (max-width: 580px) {
  .showcasecontainer {
    padding-left: 0;
    padding-bottom: 0;
  }

  .showcaseinfo {
    padding: 1rem 3rem 1rem 1.2rem;
  }

  .showcaseinfo h2 {
    font-size: 0.8rem;
  }

  .showcaseinfo p {
    font-size: 0.8rem;
  }
}

/* Current Carbon Styles */

.currentbtncontaner {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.currentbtn {
  flex: 1;
  margin: 0.5rem;
}

@media (max-width: 580px) {
  .currentbtncontaner {
    margin: 1rem 0;
  }
  .currentbtn {
    font-size: 0.5rem;
  }
}

/* Dashboard Buttons Styles */

.dashboardlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2.5rem 1rem;
  padding: 1rem;
}

.dashboardbtn {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.dashboardbtn:hover {
  opacity: 0.8;
}
.dashbooardicon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 760px) {
  .dashboardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 580px) {
  .dashboardlist {
    margin: 1rem 0.5rem;
    padding: 0.3rem;
  }
  .dashboardbtn {
    font-size: 0.7rem;
    margin: 0.3rem;
    padding: 0.8rem;
    text-align: center;
  }
  .dashbooardicon {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 400px) {
  .dashboardbtn p {
    font-size: 0.6rem;
  }
}
