@import url("https://fonts.googleapis.com/css?family=Exo+2|Roboto|Spartan&display=swap");

/* Currently imported fonts:
/* Exo 2
/* Spartan  
*/

/* Global Styles  ----------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities ----------------------------------------------------------- */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Navbar     ------------------------------------------- */

.nav {
  padding: 0.2rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
  font-size: 0.8rem;
  z-index: 1;
  width: 100%;
}

.logoimg {
  font-size: 1.1rem;
}

.logotitle {
  padding: 0.6rem;
  font-size: 0.9rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.navbar li {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.userbtn {
  min-width: 40px;
}

/* Mobile Styles ----------------------------------------------------- */
@media (max-width: 720px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    padding: 0.6rem 0 0.4rem 0;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }
}

@media (max-width: 380px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .logoimg {
    font-size: 1rem;
  }

  .logotitle {
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  .navbar ul {
    font-size: 0.6rem;
  }

  .userbtn {
    min-width: 0;
  }
}
